.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
  /* background-color: rgb(208, 229, 255); */
  background: rgb(134, 172, 255);
  background: linear-gradient(180deg, rgba(134, 172, 255, 1) 50%, rgba(249, 209, 255, 1) 100%);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.wishContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.55);
  border-radius: 50px;
}

.wishCharacterName {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4290f0;
  font-size: 1.5em;
  padding: 1em;
}

.mainTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 1em;
  /* text-shadow: 1px 1px 2px #2081db, 0 0 4px rgb(221, 126, 255); */
}

.buttonStyle {
  background-color: black;
  color: white;
  margin: 1em;
  padding: 1.5em;
  border: white 2px solid;
  border-radius: 20px;
  font-size: 1em;
  font-weight: 600;
  font-family: 'Courier New', Courier, monospace;
}

.buttonStyle:hover {
  background-color: #60b2ff;
  color: white;
  box-shadow: 3px 3px 2px 1px rgba(191, 0, 255, 0.2);
}


@media (max-width: 414px) {

  .wishContainer {
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
  }
}

@media (min-width: 820px) and (max-width: 1180px) {
  .buttonStyle {
    font-weight: 600;
  }
}