.navBarCont {
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4290f0;
    display: flex;
    flex-direction: row-reverse;
}

.navIcon {
    position: absolute;
    left: 2%;
    top: 1%;
}

.navLink {
    display: block;
    color: white;
    text-align: center;
    padding: 1.5em;
    text-decoration: none;
    font-family: sans-serif;
}

.navLink:hover {
    background-color: #146bbd;
}