.splashMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(89, 152, 236);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.splashTitle {
    display: flex;
    justify-content: center;
    justify-items: center;
    font-size: 7em;
}


.splashDescription {
    display: flex;
    justify-content: center;
    justify-items: center;
    font-size: 2em;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
}

.splashFade {
    opacity: 1;
    animation-name: fadeOutScreen;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
}

@keyframes fadeOutScreen {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@media (max-width: 414px) {

    .splashTitle {
        font-size: 2em;
    }

    .splashDescription {
        font-size: 16px;
    }
}

@media (min-width: 820px) and (max-width: 1180px) {
    .splashTitle {
        font-size: 5em;
    }

    .splashDescription {
        font-size: 24px;
    }
}